<div ui-view>
    <div ng-repeat="date in dates"> Yo {{ date }}</div>


    <div>
        <ul>
            <li ng-repeat="birthday in anniversaries | orderBy:'timeToNext':true">
                Greg fête
                <strong>
                    <ng-pluralize count="birthday.next" when="{one: 'sa', other: 'ses'}"></ng-pluralize>
                    {{ birthday.next | number }}
                    <ng-pluralize count="birthday.next" when="birthday.label"></ng-pluralize>
                </strong>
                depuis
                {{birthday.dateLabel}}
                <strong>
                    dans
                    {{ birthday.timeFromNow }}
                </strong>
            </li>
        </ul>
    </div>
</div>